.banner5050 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	min-height: 645px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px
}

.banner5050 h2 {
	color: #000
}

.banner5050__left {
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(https://www.inov-8.com/media/homepageGrid/desktop/aboutus.jpeg)
}

.banner5050__right {
	background-color: #f8f8f8;
	color: #000;
	display: grid;
	justify-content: center
}

.banner5050__right__text {
	display: grid;
	align-self: center;
	margin: 120px 130px
}

.banner5050__right__text h2 {
	margin-bottom: 20px;
	margin-left: 0px;
}

@media only screen and (max-width:801px) and (min-width:600px) {
	.banner5050 {
		grid-template-columns: repeat(1, 1fr);
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 25px
	}
	.banner5050__left {
		min-height: 260px
	}
	.banner5050__right__text {
		margin: 34px 38px
	}
}

@media only screen and (max-width:600px) and (min-width:0px) {
	.banner5050 {
		grid-template-columns: repeat(1, 1fr);
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 50px;
		min-height: 500px
	}
	.banner5050__left {
		height: 280px
	}
	.banner5050__right__text {
		margin: 26px
	}
}
