/* #slider1 .card1 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/roclite-recycled-310.jpg")
}

#slider1 .card2 {
	background-image: url("https://www.inov-8.com/media/carousel-products/rr.jpg")
}

#slider1 .card3 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/terraultra-red-black.jpeg")
}



#slider1 .card4 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/g-300-black.jpg")
}

#slider1 .card5 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/f-lite-245-navy-gum.jpeg")
}

#slider1 .card6 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/roclite-g-345-gtx-grey-black-red.jpeg")
}

#slider1 .card7 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/roclite-g-315-gtx-olive-black-red.jpeg")
}

#slider1 .card8 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/x-talon-255-red-blue.jpeg")
}

#slider1 .card9 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/trailtalon-290-v2-navy-orange.jpeg")
}





#slider2 .card1 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/trailfly-mont-blanc-edition.jpeg")
}

#slider2 .card2 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/terraultra-red-black.jpeg")
}

#slider2 .card3 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/g-300-white.jpg")
}

#slider2 .card4 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/f-lite-245-navy-gum.jpeg")
}

#slider2 .card5 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/roclite-g-345-gtx-grey-black-red.jpeg")
}

#slider2 .card6 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/roclite-g-315-gtx-olive-black-red.jpeg")
}

#slider2 .card7 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/x-talon-255-red-blue.jpeg")
}

#slider2 .card8 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/trailtalon-290-v2-navy-orange.jpeg")
}

#slider2 .card9 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/roclite-recycled-310.jpg")
}

 */


 #slider1 .card1a {
	background-image: url("https://www.inov-8.com/media/carousel-products/rf-m.jpg")
}

 #slider1 .card1 {
	background-image: url("https://www.inov-8.com/media/carousel-products/tf-mb.jpg")
}

#slider1 .card2 {
	background-image: url("https://www.inov-8.com/media/carousel-products/tug-r.jpg")
}
#slider1 .card9 {
	background-image: url("https://www.inov-8.com/media/carousel-products/rr.jpg")
}


#slider1 .card3 {
	background-image: url("https://www.inov-8.com/media/carousel-products/300-w.jpg")
}

#slider1 .card3aa {
	background-image: url("https://www.inov-8.com/media/carousel-products/260-m.jpg")
}


#slider1 .card3bb {
	background-image: url("https://www.inov-8.com/media/carousel-products/345-m.jpg")
}

#slider1 .card3cc {
	background-image: url("https://www.inov-8.com/media/carousel-products/ss-m.jpg")
}


#slider1 .card3dd {
	background-image: url("https://www.inov-8.com/media/carousel-products/ls-m.jpg")
}

/* 
#slider1 .card4 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/f-lite-245-navy-gum.jpeg")
}

#slider1 .card5 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/roclite-g-345-gtx-grey-black-red.jpeg")
}

#slider1 .card6 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/roclite-g-315-gtx-olive-black-red.jpeg")
}

#slider1 .card7 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/x-talon-255-red-blue.jpeg")
}

#slider1 .card8 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/trailtalon-290-v2-navy-orange.jpeg")
}

#slider1 .card9 {
	background-image: url("https://www.inov-8.com/media/homepageSlider/roclite-recycled-310.jpg")
}
 */

 #slider2 .card1a {
	background-image: url("https://www.inov-8.com/media/carousel-products/rf-w.jpg")
}
 #slider2 .card1 {
	background-image: url("https://www.inov-8.com/media/carousel-products/tf-mb.jpg")
}

#slider2 .card2 {
	background-image: url("https://www.inov-8.com/media/carousel-products/tug-t.jpg")
}
#slider2 .card9 {
	background-image: url("https://www.inov-8.com/media/carousel-products/rr.jpg")
}


#slider2 .card3 {
	background-image: url("https://www.inov-8.com/media/carousel-products/300-w.jpg")
}

#slider2 .card3aa {
	background-image: url("https://www.inov-8.com/media/carousel-products/260-w.jpg")
}


#slider2 .card3bb {
	background-image: url("https://www.inov-8.com/media/carousel-products/345-w.jpg")
}

#slider2 .card3cc {
	background-image: url("https://www.inov-8.com/media/carousel-products/ss-w.jpg")
}


#slider2 .card3dd {
	background-image: url("https://www.inov-8.com/media/carousel-products/ls-w.jpg")
}
 
#slider3 {
    margin-bottom: 150px;
}

/* #slider3{
    display: none;
} */
#slider3 .card1 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/homepageRedesign/uk/desktop/blog/blog-5.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider3 .card2 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/homepageRedesign/uk/desktop/blog/blog-6.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider3 .card3 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/homepageRedesign/uk/desktop/blog/blog-7.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider3 .card4 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/homepageRedesign/uk/desktop/blog/blog-1.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider3 .card5 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/homepageRedesign/uk/desktop/blog/blog-2.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider3 .card6 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/homepageRedesign/uk/desktop/blog/blog-3.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider3 .card7 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/homepageRedesign/uk/desktop/blog/blog-4.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 800px) and (min-width: 0px) {
    #slider3{
        display: block;
    }
}


