* {
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
}
.homepageRemake {
    margin-left: -15px;
    margin-right: -15px;
    background-color: #FBFBFB;
}
.homepageRemake * {
    letter-spacing: 0px;
}
.homepageRemake h2{
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 1.9vw;
    padding-bottom: 0px;
}
.homepageRemake h1, .homepageRemake h2, .homepageRemake h3, .homepageRemake h4, .homepageRemake h5, .homepageRemake a, .homepageRemake p{
font-family: 'DINPro';
}
@media only screen and (max-width: 800px) and (min-width: 601px) {
    .homepageRemake h2{
        margin-left: 20px;
        margin-bottom: 30px;
        font-size: 30px;
        padding-bottom: 0px;
    }
    #slider3{
        margin-bottom: 140px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
.homepageRemake h2{
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: 30px;
    padding-bottom: 0px;
}
}
@media only screen and (max-width: 800px) and (min-width: 0px) {
    .hideTabletMobile{
        display: none;
    }
}
