.headerIntro{
    text-align: center;
    width: 50%;
    margin: 0 auto 50px;
    font-family: DINPro;
}
.headerIntro h1{
    font-size: 2.6vw;
    text-transform: uppercase;
    color: #000;
    margin: 0;
    line-height: 1;
    margin: 0px 0px 20px 0px;
}

.headerIntro h3{
    font-size: 1.3vw;
    text-transform: uppercase;
    font-weight: 400;
}
.headerIntro a{
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: underline;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .headerIntro{
        text-align: center;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .headerIntro h1{
        font-size: 36px;
    }
    .headerIntro h3{font-size:22px}
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .headerIntro{
        text-align: center;
        width: 100%;
        margin: 20px auto 15px;
        /* margin-bottom: 15px;
        margin-top: 20px; */
    }
    .headerIntro h1{
        font-size: 30px;
    }
    .headerIntro h3{font-size:18px}
}
