
/* ########## Carousel CSS ######## */


/* .slider {
    padding: 40px 0px 10px 0px;
} */

div#slider1 {
    margin-top: -50px;
}
div#slider2 {
    margin-top: -50px;
}
.slider_controls{
    display: grid;
    grid-template-columns: 1fr;
   /*  margin-bottom: 40px; */
}
.innerSlider a {
    text-decoration: none;
}
/* .slider6 .slider_controls {
    height: 875px;
} */
.sider_container{
    overflow: scroll;
  /*   height: 100%; */
    width: 100%;
    position: relative;
    overflow-y: hidden;
}
.snapEffect{
    scroll-snap-type: x;  
    scroll-behavior: smooth;
}
.sliderChild{
    scroll-snap-align: start;
}

.sliderLeft{
    margin-right: 20px;
}
.slider .innerSlider{
    display: flex;
    gap: 30px;
    pointer-events: none; 
    position: absolute;
    top: 0;
    left: 0;
}

/* .slider {
    margin-bottom: 90px;
} */

/* .slider6 .innerSlider{
    display: flex;
    gap: 50px;
    pointer-events: none; 
    position: absolute;
    top: 0;
    left: 0;
} */
.innerSlider a {
  pointer-events: all; 
}
/* .slider5 .innerSlider a{
    text-decoration: none;
} */
.slider_card {
    align-content: center;
}
/* .innerSlider img{
    max-height: 200px;
} */
.slider_card_meta_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.innerSlider a{
    text-transform: uppercase;
    color: #000;
    text-decoration: underline;
}
.innerSlider_card_meta_info h3{
    text-transform: uppercase;
}
.sliderButtonControlContainer{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "titleSlider titleSlider titleSlider titleSlider titleSlider titleSlider controlsSlider controlsSlider controlsSlider";
    /* justify-content: flex-end; */
  /*   margin: 0px 40px 40px 0px; */
  margin-bottom: 50px;
}
.sliderTitle{
    grid-area: titleSlider;
}
.sliderTitle h3{
    font-size: 30px;
    margin-bottom: 0;
    margin-left: 50px;
}
.sliderControls{
    grid-area: controlsSlider;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}
.sliderButtonControl{
    background-color: #ebebeb;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    border: 0px;
    cursor: pointer;
}

.sliderButtonControl:disabled,
.sliderButtonControl[disabled]{
    opacity: 50%;
}


/* .sliderFiveLeft{
    margin-right: 20px;
} */

.lineThroughText {
    text-decoration-line: line-through;
}
.feature{
    border: 1px solid #000;
    display: inline-block;
    padding: 2px 20px;
    margin-bottom: 25px;
}
.noFeature{
    height: 50px;
}
.feature span{
    text-transform: uppercase;
    font-size: 10px;
}


.innerSlider a {
    text-decoration: none;
}


@media only screen and (max-width: 800px) and (min-width: 601px){
    .innerSlider {
        width: auto;
    }
    .innerSlider img{
        max-height: 160px;
    }  
    .sliderControls{
        display: none;
    }
    .sliderTitle h3{
        margin-left: 30px;
    }

    div#slider1 {
        margin-top: 0px;
    }
    div#slider2 {
        margin-top: 0px;
    }
   
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .sliderButtonControlContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "titleSlider";
        /* justify-content: flex-end; */
      /*   margin: 0px 40px 40px 0px; */
    }
    .sliderControls{
        display: none;
    }
    .sliderTitle h3{
        margin-left: 30px;
        font-size: 22px;
    }
    div#slider1 {
        margin-top: 0px;
    }
    div#slider2 {
        margin-top: 0px;
    }
}