/* .blogCard{
    width: 364px;
    height: 398px;
} */
.blogCard__title{
    font-size: 22px;
    padding: 20px 0px;
}
.sliderChild.blogCard {
    width: 364px;
}
.blogCard__title h2{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: capitalize;
    letter-spacing: 0;
    margin-left: 20px;
}
.blogCard__image img{
    object-fit: contain;
    width: 100%;
    height: auto;
}
.blogCardHeight{
    height: 400px;
}

.blogCardHeight .firstChildMargin {
    margin-left: 50px;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .blogCardHeight{
        height: 375px;
    }
    .blogCardHeight .firstChildMargin {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .blogCardHeight .firstChildMargin {
        margin-left: 30px;
    }
    .blogCardHeight{
        height: 300px;
    }
  /*   .blogCard__image{
        height: 202px;
        width: 315px;
    } */
}


